// Variables
$white: white
$blueP: #6d6dff
$whiteish: #ececec
$buttonColor: darkcyan
$buttonHover: #006969
    
body
    background-image: url("/background")

// for navbar title
.title
    color: $white
    font-size: 2rem

.nav-link
    font-size: 1.25rem

// Login/Register Box part one
.bigBox
    width: 100%
    margin-top: 100px

// Login/Register Box part two
.smallBox
    margin: auto
    background: $whiteish
    width: 600px
    border-radius: 3%

// Centering Inputs
.forInput
    display: flex
    width: 90%
    margin-left: 5%
    margin-bottom: 18px
    padding-left: 8px
    font-size: 1.25rem

.inputHeader
    text-align: center
    font-size: 3.25rem
    padding-top: 7px
    padding-bottom: 15px

.forButton
    font-size: 1.25rem
    width: 100%
    justify-content: center
    display: flex

#login, #register
    margin-bottom: 20px
    background: $buttonColor
    width: 90%

#login:hover, #register:hover
    background: $buttonHover

@media screen and (max-width: 610px)
    .smallBox
        width: 95%