// Variables
$white: white
$blueP: #6d6dff
$whiteish: #eaeaea
$buttonColor: darkcyan
$buttonHover: #006969
$solidGray: #343a40
$red: #f94949
    
body
    background-image: url("/background")

// for navbar title
.title
    color: $white
    font-size: 2rem

.nav-link
    font-size: 1.25rem

// Login/Register Box part one
.bigBox
    width: 100%
    margin-top: 100px

// Login/Register Box part two
.smallBox
    margin: auto
    background: $solidGray
    width: 600px
    border-radius: 3%

// Centering Inputs
.forInput
    display: flex
    width: 90%
    margin-left: 5%
    margin-bottom: 18px
    padding-left: 8px
    font-size: 1.25rem
    border: none
    color: $white
    border-bottom: $white 1px solid
    background-color: transparent

.forInput:focus
    outline-width: 0

::placeholder
    color: #969696

.inputHeader
    text-align: center
    font-size: 3.25rem
    color: $white
    padding-top: 7px
    padding-bottom: 12px

.forButton
    font-size: 1.25rem
    width: 100%
    justify-content: center
    display: flex

#login, #register
    margin-bottom: 15px
    background: $buttonColor
    width: 90%
    font-size: 1.25rem
    letter-spacing: 1.25px

#login:hover, #register:hover
    background: $buttonHover

#logmsg, #regmsg
    color: $red
    text-align: center
    font-size: 1.25rem
    font-weight: 400
    display: none

.switch
    color: $whiteish
    text-align: center
    font-size: 1.15rem
    padding-bottom: 15px
    cursor: pointer

.switch:hover, #forgotEmail:hover
    text-decoration: underline

#forgotEmail
    text-align: center
    cursor: pointer
    color: $red
    margin-bottom: 5px
    font-size: 1.15rem

@media screen and (max-width: 610px)
    .smallBox
        width: 95%